<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body onload="start()">

<div data-role="page" id="home" data-title="追书神器" >
    <div data-role="header" data-position="fixed" >
        <div data-role="navbar" >
            <ul>
                <li><a href="/book" data-ajax="false" data-icon="home" class="ui-btn-active">我的书架</a></li>
                <li><a href="/tosearch" data-ajax="false" data-icon="search">搜索</a></li>
            </ul>
        </div>
    </div>

    <div data-role="content">
        <div data-role="main" class="ui-content">
            <ul data-role="listview" data-inset="true" data-filter = "true"
                data-filter-placeholder = "请输入你想要搜索的书籍...">
                <li th:each="item:${data}">
                    <a th:text="${item.getBookName()}" th:href="'/chapter/' + ${item.getId()}"></a>
                </li>
            </ul>
        </div>
    </div>

    <div data-role="footer" data-position="fixed" data-fullscreen = "true">
        <div data-role="navbar">
            <ul>
                <li><a data-ajax="false" href="/book" data-icon="plus">书城</a></li>
                <li><a data-ajax="false" href="/find" data-icon="plus">发现</a></li>
            </ul>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function start() {
        var data = [[${data}]];
    }
</script>
</body>
</html>