<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body onload="start()">
<div data-role="page">
    <div data-role="header">
        <a data-ajax="false" href="/book" class="ui-btn ui-icon-home ui-btn-icon-left">我到书架</a>
        <h1>欢迎访问我的主页</h1>
        <a data-ajax="false" href="#" class="ui-btn ui-icon-search ui-btn-icon-left">书城</a>
    </div>

    <div data-role="content">
        <div data-role="main" class="ui-content">
            <a data-ajax="false" class="ui-btn ui-shadow" href="/getchapter/4105">最后查看章节</a>
            <ul data-role="listview" data-inset="true">
                <li th:each="item:${data}"><a data-ajax="false" th:text="${item.getChapterName()}"
                                              th:href="'/getchapter/' + ${item.getId()}"></a></li>
            </ul>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function start() {
        const object = [[${data}]];
    }
</script>
</body>
</html>