<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

<div data-role="page" id="home" data-title="发现" >
    <div data-role="header">
        <a data-ajax="false" href="/book" class="ui-btn ui-icon-home ui-btn-icon-left">我到书架</a>
        <h1>欢迎访问我的主页</h1>
        <a data-ajax="false" href="#" class="ui-btn ui-icon-search ui-btn-icon-left">书城</a>
    </div>

    <div data-role="main" class="ui-content">
        <div data-role="navbar">
            <ul>
                <li><a href="#" data-icon="plus">更多</a></li>
                <li><a href="#" data-icon="minus">更少</a></li>
                <li><a href="#" data-icon="delete">删除</a></li>
                <li><a href="#" data-icon="check">喜爱</a></li>
                <li><a href="#" data-icon="info">信息</a></li>
                <li><a href="#" data-icon="forward">向前</a></li>
                <li><a href="#" data-icon="back">向后</a></li>
                <li><a href="#" data-icon="star">星形</a></li>
                <li><a href="#" data-icon="gear">选项</a></li>
                <li><a href="#" data-icon="search">搜索</a></li>
            </ul>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function start() {
        var data = [[${data}]];
    }
</script>
</body>
</html>